.app {

}

.navBar {
    width: 100%;
    height: 20%;
    top: 0;
    outline: solid;
}
.navBar img {
    width: 10%;
    align-content: flex-start;
}

.menu {
    list-style: none;
    /* Important for sizing problems when you add/remove the submenus
       Make it use 100% of the size of your container */
    width: 100%;
    /* This prevents a lot of problems with the submenus.
       UL have basic padding, keep that in mind */
    padding: 10px;
}
.menu li {
    /* I wanted mine horizontal. Feel free to change it to what you want */
    display:inline-block;
    /* Float the items to the left, to make sure the disposition does not change when it shows the subitems */
    float:left;
    /* The -1px on top and right make it so that our borders end up above one another
       Not needed it you don't have borders... */
    margin:-1px -1px 0 0;
}

